* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .dcnto {
  background-color: #1cd1b0;
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

header .title {
  background-color: #00669f;
  height: 101px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  background-color: rgba(128, 128, 128, 0.2);
  margin: 5px;
  border-radius: 10px;
  width: min-content;
}

.image {
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: -65px;
}

h2 {
  text-align: center;
}

p {
  padding: 6%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.btn button {
  background-color: #00669f;
  border-color: transparent;
  color: white;
  padding: 2%;
}

footer {
  background-color: #00669f;
  padding: 1%;
  color: white;
  margin-top: auto;
}

.cards4 {
  background-color: rgba(128, 128, 128, 0.2);
  margin: 2%;
  border-radius: 10px;
  width: 300px;
}

@media (max-width: 652px) {
  .cards4 {
    display: none;
  }
}