* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header .dcnto {
  background-color: #1cd1b0;
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

header .title {
  background-color: #00669f;
  height: 101px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.containerCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  width: 22%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.cardsHarley {
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  width: 22%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.cards .imgBackground {
  width: 100%;
}

.cardsHarley .imgBackground {
  width: 100%;
}

.backgroundBatman {
  width: 100%;
  height: 183px;
  background-image: url("../img/backgroundBatman.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.backgroundBatman img {
  width: 8%;
  margin: 5%;
}

.backgroundWonder {
  width: 100%;
  height: 183px;
  background-image: url("../img/backgroundWonder.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.backgroundWonder img {
  width: 8%;
  margin: 5%;
}

.backgroundSuper {
  width: 100%;
  height: 183px;
  background-image: url("../img/backgroundSuper.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.backgroundSuper img {
  width: 8%;
  margin: 5%;
}

.backgroundHarley {
  width: 100%;
  height: 183px;
  background-image: url("../img/backgroundHarley2.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.backgroundHarley img {
  width: 8%;
  margin: 5%;
}

.image {
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: -63px;
  width: 120px;
}

.imageSuper {
  border-radius: 50%;
  margin-top: -63px;
  height: 124px;
  background-image: url(../img/superman.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
  padding-top: 5%;
}

p {
  padding: 6%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 30%;
  padding: 2%;
  background-color: #00669f;
  border-color: transparent;
  color: white;
}

.btn button {
  background-color: #00669f;
  border-color: transparent;
  color: white;
}

footer {
  background-color: #00669f;
  padding: 1%;
  color: white;
  display: flex;
  justify-content: center;
}

footer img {
  width: 80px;
}

.textFooter {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.imgFooter {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 760px) {
  .cards {
    width: 40%;
  }
  .cardsHarley {
    width: 40%;
  }
}

@media (max-width: 375px) {
  .cards {
    width: 90%;
  }
  .cardsHarley {
    display: none;
  }
}

@media (max-width: 374px) {
  .imageSuper {
    background-image: url("../img/superman2.png");
  }
}
