<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../views/cvAle/styles.css" />
    <title>Cv Ale</title>
</head>

<body>
    <div class="container">
        <div class="columOne">
            <div>
                <img class="imgProfile" src="../../images/ale.png" alt="logo" />
                <h2>ALEJANDRA MENESES CARMONA</h2>
                <h3>Desarrolladora Frontend</h3>
            </div>
            <div>
                <h2>HABILIDADES PROFESIONALES</h2>
                <ul>
                    <li><span></span>JAVASCRIPT</li>
                    <li><span>REACT JS</span></li>
                    <li><span>HTML 5</span></li>
                    <li><span>CSS 3</span></li>
                    <li><span>VTEX</span></li>
                    <li><span>BOOTSTRAP</span></li>
                    <li><span>GIT</span></li>
                </ul>
            </div>
            <div class="listInfo">
                <ol>
                    <li><img src="../../images/casa.png" /> <span>Copacabana - Antioquia - Colombia</span></li>
                    <li><img src="../../images/celular.png" /> <span>3007006212</span></li>
                    <li><img src="../../images/mensaje.png" /> <span>aleja-mc@hotmail.com</span></li>
                    <li><img src="../../images/linkedin.png" />
                        <span>https://www.linkedin.com/in/alejandra-meneses-carmona-b651551a0/</span></li>
                    <li><img src="../../images/github.png" /> <span>https://github.com/AlejaMC15</span></li>
                </ol>
            </div>
        </div>
        <div class="columTwo">
            <div class="resume">
                <h2>RESUMEN PERSONAL</h2>
                <p>Orientada al logro de objetivos, líder, emprendedora, autodidacta y
                    amante del desarrollo de software Front-End.
                    Apasionada por crear sitios web y aplicaciones a medida del cliente,
                    además de creer en el trabajo en equipo como estrategia eficaz para
                    lograr el éxito.
                </p>
            </div>
            <hr />
        </div>
    </div>


    <footer><span>Designed Web by Alejandra Meneses</span></footer>
</body>

</html>